{% extends 'app/dummy.html' %}

{% block title %}
    <title>SchoolList</title>
{% endblock %}

{% block body_block %}
    <center>
    {% if form.instance.pk %}
        <h1>SchoolUpdate</h1>
    {% else %}
        <h1>SchoolCreate</h1>
    {% endif %}

        <form method="POST">
            {% csrf_token %}

            {{form.as_p}}


            {% if form.instance.pk %}
            <input type="submit" value="UpdateSchool">
            {% else %}
            <input type="submit" value="CreateSchool">
            {% endif %}

        </form>
    </center>
{% endblock %}
