{% extends 'app/dummy.html' %}

{% block title %}
    <title>DeleteSchool</title>
{% endblock %}

{% block body_block %}
    <center>
        <h1>Are U Sure to delete {{schoolobject.sname}}</h1>

        <form method="POST">
            {% csrf_token %}

            <input type="submit" value="Yes-Delete">
        </form>

        <a href="{% url 'SchoolList' %}" class="btn btn-warning">go back to list</a>
        <a href="{% url 'SchoolDetail' pk=sclobject.pk %}" class="btn btn-warning">go back to detail</a>

    </center>
{% endblock %}